@model LuccasCorpVX.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu a senha?";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row">
        <!-- Coluna do Formulário de Esqueci a Senha -->
        <div class="col-12 col-md-6 bg-light p-3">
            <section id="forgotPasswordForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Digite seu email para receber o link de recuperação.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new
                            {
                                @class = "form-control rounded-pill shadow-sm",
                                placeholder = "Informe seu email",
                                onchange = "validarEmail(this)",
                                oninput = "validarEmail(this)"  // Adicionando oninput para checar em tempo real
                            })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" class="btn btn-outline-dark rounded-pill shadow-sm" value="Enviar link por email" />
                        </div>
                    </div>

                    <p>
                        <a href="@Url.Action("Login", "Account")">Voltar ao login</a>
                    </p>
                }
            </section>
        </div>

        <!-- Coluna da Imagem -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center bg-custom-blue p-3">
            <img src="~/Images/logo_ufop_horizontal.png" alt="Imagem de recuperação de senha" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
