@model LuccasCorpVX.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir senha";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row">
        <!-- Coluna do Formulário de Redefinir Senha -->
        <div class="col-12 col-md-6 bg-light p-3">
            <section id="resetPasswordForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Redefina sua senha abaixo.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new
                            {
                                @class = "form-control rounded-pill shadow-sm",
                                placeholder = "Informe seu email",
                                onchange = "validarEmail(this)",
                                oninput = "validarEmail(this)"  // Adicionando oninput para checar em tempo real
                            })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new
                            {
                                @class = "form-control rounded-pill shadow-sm",
                                placeholder = "Nova senha"
                            })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new
                            {
                                @class = "form-control rounded-pill shadow-sm",
                                placeholder = "Confirmar nova senha"
                            })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" class="btn btn-outline-dark rounded-pill shadow-sm" value="Redefinir" />
                        </div>
                    </div>
                }
            </section>
        </div>

        <!-- Coluna da Imagem -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center bg-custom-blue p-3">
            <img src="~/Images/logo_ufop_horizontal.png" alt="Imagem de redefinição de senha" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
