@model IEnumerable<LuccasCorpVX.Models.Comentario>


<main aria-labelledby="title" class="container mt-5">
    <!-- Coluna da Imagem -->
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center bg-custom-blue" style="height: 150px;">
            <img src="~/Images/logo_ufop_horizontal.png" alt="Logo UFOP" class="img-fluid rounded" style="max-width: 80%; height: auto;" />
        </div>
    </div>

    <!-- Tabela de Disciplinas -->
    <div class="row">
        <div class="col-12 bg-light d-flex flex-column">
            <table class="table">
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Referente a
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Professor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Disciplina)
                        </th>*@
                    <th>
                        Data de Criação
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sentimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Positivo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Negativo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Neutro)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ProfessorNome))
                            {
                                @Html.DisplayFor(modelItem => item.ProfessorNome)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DisciplinaNome)
                            }
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Professor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disciplina)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sentimento)
                        </td>
                        <td>
                            @(item.Positivo.ToString("P0"))
                            @*@Html.DisplayFor(modelItem => item.Positivo)*@
                        </td>
                        <td>
                            @(item.Negativo.ToString("P0"))
                            @*@Html.DisplayFor(modelItem => item.Negativo)*@
                        </td>
                        <td>
                            @(item.Neutro.ToString("P0"))
                            @*@Html.DisplayFor(modelItem => item.Neutro)*@
                        </td>
                        <td>
                            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

</main>
