@model IEnumerable<LuccasCorpVX.Models.Disciplinas>

<main aria-labelledby="title" class="container mt-5">
    <!-- Coluna da Imagem -->
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center bg-custom-blue" style="height: 150px;">
            <img src="~/Images/logo_ufop_horizontal.png" alt="Logo UFOP" class="img-fluid rounded" style="max-width: 80%; height: auto;" />
        </div>
    </div>


    <!-- Tabela de Disciplinas -->
    <div class="row">
        <div class="col-12 bg-light d-flex flex-column">
            <table class="table">
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Campus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Media)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvaliacaoGeral)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoUFOP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Campus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Media)*@
                            @(item.Media.ToString("P0"))
                        </td>
                        <td>
                            @{
                                string sentimentoDisplay = "";

                                if (item.AvaliacaoGeral == "Positive")
                                {
                                    sentimentoDisplay = "Positivo";
                                }
                                else if (item.AvaliacaoGeral == "Negative")
                                {
                                    sentimentoDisplay = "Negativo";
                                }
                                else if (item.AvaliacaoGeral == "Neutral")
                                {
                                    sentimentoDisplay = "Neutro";
                                }
                                else
                                {
                                    sentimentoDisplay = item.AvaliacaoGeral; // Se o valor não for "Positive", "Negative" ou "Neutral", exibe o valor original
                                }
                            }
                            @sentimentoDisplay
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.AvaliacaoGeral)
                        </td>*@
                        <td>
                            @Html.ActionLink("Novo Comentario", "Create", "Comentarios", new { id = item.Codigo, tipo = "Disciplina" }, null)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

</main>
